    <div>
        <table class=" table-bordered">
            <thead>
                Table to add employee
            </thead>
            <tbody>
                <tr>
                    <td>Employee Name</td>
                    <td>
                        <input type="text" ng-model="emp.empName" />
                    </td>
                </tr>
                <tr>
                    <td>Department</td>
                    <td>
                        <input type="text" ng-model="emp.department" />
                    </td>
                </tr>
                <tr>
                    <td>Age</td>
                    <td>
                        <input type="text" ng-model="emp.age" />
                    </td>
                </tr>
                <tr>
                    <td>UserName</td>
                    <td>
                        <input type="text" ng-model="emp.userName" />
                    </td>
                </tr>
                <tr>
                    <td>Password</td>
                    <td>
                        <input type="text" ng-model="emp.password" />
                    </td>
                </tr>
                <tr>
                    <td>
                        <button type="button" ng-click="updateEmployee()">
                            Save Changes
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>