<div>
        <table class="table">
            <thead>
                <tr>
                    <th>EmpId</th>
                    <th>EmpName</th>
                    <th>Department</th>
                    <th>Age</th>
                    <th>Username</th>
                    <th>Password</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="item in people">
                    <td>{{item.empId}}</td>
                    <td>{{item.empName}}</td>
                    <td>{{item.department}}</td>
                    <td>{{item.age}}</td>
                    <td>{{item.userName}}</td>
                    <td>{{item.password}}</td>
                    <td>
                        <button type="button" ng-click="getEmployee(item.empId)">
                            Edit
                        </button>
                    </td>
                    <td>
                        <button type="button" ng-click="deleteEmployee(item.empId)">
                            Delete
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>