    <div>
        <table class=" table-bordered">
            <thead>
                Single Employee
            </thead>
            <tbody>
                <tr>
                    <td>Employee Name</td>
                    <td>
                        <input type="text" ng-model="EmpName" />
                    </td>
                </tr>
                <tr>
                    <td>Department</td>
                    <td>
                        <input type="text" ng-model="Department" />
                    </td>
                </tr>
                <tr>
                    <td>Age</td>
                    <td>
                        <input type="text" ng-model="Age" />
                    </td>
                </tr>
                <tr>
                    <td>UserName</td>
                    <td>
                        <input type="text" ng-model="UserName" />
                    </td>
                </tr>
                <tr>
                    <td>Password</td>
                    <td>
                        <input type="text" ng-model="Password" />
                    </td>
                </tr>
                <tr>
                    <td>
                        <button type="button" ng-click="save()">
                            Save Employee
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>